.header{
    max-width: 85%;
    margin: auto;
    display:grid ;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.header_content{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.header_text{
    background: -webkit-linear-gradient(-60deg,rgb(240, 25, 229),rgb(250, 204, 171), #fbe4d8);
    background-clip: text;
    margin-top: 1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Averia Libre', cursive;
    font-size: 3.3rem;
}

.header_paragraph p{
    margin-top: 3rem;
    color: snow;
}


.header_input{
    margin-top: 3rem;
}
.header_input input::placeholder{
    color: white;
}
.header_input input{
    padding: .56rem 2rem;
    background-color: rgb(11, 11, 13);
    outline: none;
    border: 1.7px solid rgba(94, 191, 247, 0.904);
    color: white;
    font-size: 1rem

}
.header button{
    padding: .6rem 1.2rem;
    font-size: .9rem;
    background-color: rgb(255, 89, 0);
    border: 2px solid rgba(94, 191, 247, 0.904);
    color: blanchedalmond;
}
.header button:hover{
    cursor: pointer;
}

.header_paragraph{
color: white;
}
.header_image{
    text-align: center;
}
.header_image img{
    /* margin: -5vmax -1px 4px 2px; */
    max-height: 90%;
    max-width: 90%;
}


@media (min-width:810px) {
    .header_image img{
        max-height: 98%;
        max-width: 105%;
        /* margin: -5vmax -2rem 4rem 2rem; */
    }
    
}
@media (max-width:800px) {
    .header{
        display: flex;
        flex-direction: column;
    }
    .header_image img{
        margin: 0rem;
    }
}